    
    <div class=""><h2>{{aim}}</h2></div>
    <div class="vh-100">
        <div class="container py-5 h-100 " >
      
          <div class="row d-flex justify-content-center align-items-center h-100" >
            <div class="col-md-8 col-lg-6 col-xl-4 " >
      
              <div class="card" style=" border-radius: 35px; background: rgba(180, 183, 187, 0.3);">
                <div class="card-body p-4">
      
                  <div class="flex-column text-center">
                    <h1>LOGIN </h1>
                  </div>
      
                  <div class="d-flex flex-column  w-75 mt-5 " style="margin-left: 50px;">
                    <div class="textid">
                        <input type="text"  [placeholder]="acnt" (change)="acnochange($event)"  id="acid"class="form-control">
                        <i class="fa-solid fa-building-columns"style="margin-top:-20px ;"></i>
                    </div>
                    <div class="textpass mt-3">
                        <input type="password"  [placeholder]="pswd" (change)="pswdchange($event)"  id="passid" class="form-control">
                        <i class="fa-solid fa-lock" style="margin-top:-80px;"></i>
                        <!-- <i class="fa-sharp fa-solid fa-eye-slash"></i> -->
                    </div>
                    <div>
                        <button class="w-25 mt-3" (click)="login()" style=" border-radius: 6px ;border:none;margin-left:90px;background-color:rgb(82, 85, 136);height: 30px;font-weight:500;padding-top: 4px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" type="button">LOGIN</button>
                    </div>
                    <div class="mt-4 text-center">
                        <label for="" style="color:rgb(7, 9, 15); font-size: large;"> Don't have an account?<span style="padding-left:20px;"><a href="./registration.html">Create</a></span></label>
                      </div> 
                  </div>
                 </div>
              </div>
      
            </div>
          </div>
      
        </div>
    </div>
    
    
 

