

<div class="ps-5 pe-5 mt-3 ms-3">
    <h1 style="color: white;">Welcome {{user}}!!</h1>
</div>


<div class="text-white ms-3 ps-5 pe-5">System Date and Time{{sDetails | date: 'short'}}</div>


<div class="ps-5 pe-5 mt-3 ms-3 display-6">
    <a routerLink="/transaction" style="color: rgb(144, 139, 206);">view transaction details</a>
</div>
<br>
<div class="ps-5 pe-5 mt-3 ms-5 btn btn-secondary"> 
    <button (click)="logout()" type="button">LOGOUT</button>
</div>
<br>
<div class="ps-5 pe-5 mt-3 ms-5 btn btn-outline-danger"> 
    <button (click)="deleteconfirm()" type="button">DELETE   </button>
</div>

<!-- child class -->
<app-delete-confirm (onCancel)="oncancel()" [item]="acnum"></app-delete-confirm>

<form (ngSubmit)="deposit()" [formGroup]="dashbordForm" [ngClass]="acnum?'style1':' ' ">
<div class="vh-100">
    <div class="container py-5 h-100  ">

        <div class="row d-flex justify-content-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 ">

                <div class="card" style=" border-radius: 35px; background: rgba(37, 50, 67, 0.3);">
                    <div class="card-body p-4">

                        <div class="flex-column text-center">
                            <h1 class="text-center">DEPOSIT</h1>
                        </div>

                        <!-- <form (ngSubmit)="deposit()" [formGroup]="dashbordForm" [ngClass]="acnum?'style':' ' "> -->
                            <div class="d-flex flex-column  w-75 mt-5 " style="margin-left: 50px;">
                                <div class="">
                                    <input name="acno" type="text" placeholder=" Enter your account number"
                                    formControlName="acno" id="acno" class="form-control"><br>

                                </div>
                                <div *ngIf="this.dashbordForm.get('acno')?.errors&&this.dashbordForm.get('acno')?.touched" class="text-danger"> <p>Invalid account number</p></div> 

                                <div class="">
                                    <input name="pswd" type="password" placeholder="Enter your password" id="pswd"
                                    formControlName="pswd" class="form-control"><br>
                                </div>
                                <div *ngIf="this.dashbordForm.get('pswd')?.errors&&this.dashbordForm.get('pswd')?.touched" class="text-danger"><p>Invalid password</p></div>

                                <div class="">
                                    <input name="amount" type="text" placeholder="Amount to deposit" id="depamount"
                                    formControlName="damount" class="form-control"><br>
                                </div>
                                <div *ngIf="this.dashbordForm.get('damount')?.errors&&this.dashbordForm.get('damount')?.touched" class="text-danger"><p>Invalid amount</p></div>

                                <div>
                                    <button class=""
                                        style="border-radius: 6px ;border:none;margin-left:90px;background-color:rgb(82, 85, 136);height: 30px;font-weight:500;padding-top: 4px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                        type="submit">DEPOSIT</button>
                                </div>

                            </div>
                        
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</form>
<br>
<br>
<form (ngSubmit)="withdow()" [formGroup]="dashbordForm" [ngClass]="acnum?'style1':' ' ">
<div class="vh-100">
    <div class=" container py-5 h-100 ">

        <div class="row d-flex justify-content-center h-100 ">
            <div class="col-md-8 col-lg-6 col-xl-4 ">

                <div class="card" style=" margin-top: -300px; border-radius: 35px; background: rgba(180, 183, 187, 0.3);">
                    <div class="card-body">

                        <div class="flex-column text-center">
                            <h1 class="text-center">WITHDOW</h1>
                        </div>

                        
                            <div class="d-flex flex-column  w-75 mt-5" style="margin-left: 50px;">
                                <div class="">
                                    <input name="acno1" type="text" placeholder=" Enter your account number"
                                    formControlName="acno1" id="acno1" class="form-control"> <br>

                                </div>
                                <div *ngIf="this.dashbordForm.get('acno1')?.errors&&this.dashbordForm.get('acno1')?.touched" class="text-danger"><p>Invalid account number</p></div>

                                <div class="">
                                    <input name="pswd1" type="password" placeholder="Enter your password" id="pswd1"
                                    formControlName="pswd1" class="form-control"><br>
                                </div>
                                <div *ngIf="this.dashbordForm.get('pswd1')?.errors&&this.dashbordForm.get('pswd1')?.touched" class="text-danger"><p>Invalid password</p></div>

                                <div class="">
                                    <input name="withdow" type="text" placeholder="Withdrow amount" id="wamount"
                                    formControlName="wamount" class="form-control"><br>
                                </div>
                                <div *ngIf="this.dashbordForm.get('wamount')?.errors&&this.dashbordForm.get('wamount')?.touched" class="text-danger"><p>Invalid amount</p></div>

                                <div>
                                    <button class=" "
                                        style=" border-radius: 6px ;border:none;margin-left:90px;background-color:rgb(82, 85, 136);height: 30px;font-weight:500;padding-top: 4px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                        type="submit">WITHDOW</button>
                                </div>

                            </div>
                            
                       
                        
                    </div>
                </div>
 
            </div>
        </div>
        
    </div>
</div>
</form>

